<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="admin/_fragments::head(~{::title})">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="Blogs management"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link rel="stylesheet" href="../../static/css/blog.css" />
    <title>Login Success</title>
  </head>
  <body>
    <!-- nav-->
    <nav th:replace="admin/_fragments::menu(0)" class="ui inverted segment nav-menu-padding">
      <div class="ui center aligned container container-width">
        <div class="ui inverted secondary stackable menu">
          <h2 class="ui red header first item">Back-end</h2>
          <a href="" class="m-item item item-size m-mobile-hide"
            ><i class="home icon"></i>Blogs</a
          >
          <a href="" class="m-item item item-size m-mobile-hide"
            ><i class="idea icon"></i>Category</a
          >
          <a href="" class="m-item item item-size m-mobile-hide">
            <i class="tags icon"></i>Tags</a
          >
          <div class="right menu">
            <div class="ui dropdown item">
              <div class="text">
                <img src="../../static/img/icon.jpg" class="ui avatar image" alt="">
                  KazeSword 
              </div>
              <i class="dropdown icon"></i>
              <div class="menu inverted">
                <a href="" class="item">Log out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <a
        href="#"
        class="ui black button m-right-top m-mobile-show"
        id="menu_button"
      >
        <i class="sidebar icon"></i>
      </a>
    </nav>

    <div class="ui attached pointing menu">
      <div class="ui container">
        <div class="right menu">
          <a href="" class="purple item">List</a>
          <a href="" class="item">Release</a>
        </div>
      </div>
    </div>
    <div class="m-container-small m-padding-tb-large">
      <div class="ui container">
        <div class="ui message large success">
          <h1>Hi,</h1>
          <p style="font-size: 40px">Welcome!</p>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- footer -->
    <footer th:replace="admin/_fragments::footer" class="ui inverted vertical segment footer-item-padding">
      <div class="ui center aligned container container-width">
        <div class="ui inverted divided stackable grid">
          <div class="three wide column">
            <img
              src="../../static/img/Facebook_QR.jpg"
              class="ui image"
              alt="Facebook QR"
              style="width: 150px; margin: 0 auto"
              ;
            />
          </div>
          <div class="four wide column">
            <h3 class="ui inverted header">Want to learn about me?</h3>
            <div class="ui inverted link list">
              <p class="footer-content-text">
                Just scan my Facebook QR on the left.
              </p>
            </div>
          </div>
          <div class="three wide column">
            <h3 class="ui inverted header">Who am I?</h3>
            <div class="ui inverted link list">
              <p class="footer-content-text">
                An ACGer who is fond of programming!!!
              </p>
              <img src="../../static/img/umaru.jfif" alt="umaru" style="width: 130px" />
            </div>
          </div>
          <div class="six wide column">
            <h3 class="ui inverted header">About my Blog?</h3>
            <div class="ui inverted link list"></div>
            <p class="mid-font-size">
              My blog aims to share my projects such as machine learning,
              webspider and data analysis; Some data structure or algorithm
              problems I met in life or online; Notes on my study like Java I
              prepared to learn later in the future.
            </p>
          </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="copyright-text">Copyright @ 2021 designed by KazeSword</p>
      </div>
    </footer>
    <script src="../../static/js/jQuery.js" th:src="@{/js/jQuery.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script>
      $("#menu_button").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
      });

      $(".ui.dropdown").dropdown({
        on: "hover",
      });
    </script>
  </body>
</html>
