<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml" >
  <head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link rel="stylesheet" href="../static/css/blog.css" />
    <title>KazeSword's Blog</title>
  </head>
  <body>
    <!-- nav -->
    <nav th:replace="_fragments::menu(5)" class="ui inverted segment nav-menu-padding m-shadow-small">
      <div class="ui center aligned container container-width">
        <div class="ui inverted secondary stackable menu">
          <h2 class="ui red header first item">KazeSword</h2>
          <a href="" class="m-item item item-size m-mobile-hide"
            ><i class="home icon"></i>Front page</a
          >
          <a href="" class="m-item item item-size m-mobile-hide"
            ><i class="idea icon"></i>Category</a
          >
          <a href="" class="m-item item item-size m-mobile-hide">
            <i class="tags icon"></i>Tags</a
          >
          <a href="" class="m-item item item-size m-mobile-hide">
            <i class="clone icon"></i>Archive</a
          >
          <a href="" class="m-item item item-size m-mobile-hide"
            ><i class="info icon"></i>About me</a
          >
          <div class="m-item right item m-mobile-hide">
            <div class="ui icon inverted transparent input">
              <input type="text" placeholder="Search" />
              <i class="search icon"></i>
            </div>
          </div>
        </div>
      </div>
      <a
        href="#"
        class="ui black button m-right-top m-mobile-show"
        id="menu_button"
      >
        <i class="sidebar icon"></i>
      </a>
    </nav>
    <div class="bg header-img m-mobile-hide"></div>
    <div class="ui container container-width">
      <div class="ui stackable grid content-padding">
        <!-- left -->
        <div th:replace="_fragments::left" class="three wide column right aligned">
          <div>
            <div class="ui card m-mobile-hide">
              <div class="image">
                <img src="../static/img/tanzhilang.jpeg" alt="" width="230px" />
              </div>
              <div class="content">
                <div class="header center aligned">KazeSword</div>
              </div>
              <div class="extra content center aligned">
                <a href="" class="ui circular icon button"
                  ><i class="github icon"></i
                ></a>
                <a href="" class="ui circular icon button"
                  ><i class="facebook icon"></i
                ></a>
                <a href="" class="ui circular icon button"
                  ><i class="wechat icon"></i
                ></a>
                <a href="" class="ui circular icon button"
                  ><i class="google icon"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <!-- mid -->
        <div class="ten wide column">
          <!-- header -->
          <div class="ui top attached segment">
            <h1 style="text-align: center">About me</h1>
          </div>

          <!-- content -->
          <div class="ui blue attached segment">
            <h3>My info</h3>
          </div>
          <div class="ui skyblue attached segment m-padding-lr-large">
            <ul class="mid-font-size">
              <li><p>A graduate student majored in statistics.</p></li>
              <li>
                <p>
                  Interested in machine/deep learning, data science and
                  algorithm.
                </p>
              </li>
              <li><p>like exploring unknown.</p></li>
              <li>
                <p>
                  A standard ACGer who is fond of animations and games. Hope to
                  travel around the word in the future.
                </p>
              </li>
              <li><p>More thinking, Less coding.</p></li>
            </ul>
          </div>
          <div class="ui skyblue attached segment">
            <h3>About my blog</h3>
          </div>
          <div class="ui skyblue attached segment m-padding-lr-large">
            <p>This blog aims to share my study notes, daily life and some tiny projects. Front-end is based on
                Semantic ui, back-end is based on Springboot. This blog is just a platform to share my idea, and will not be
               utilized for commercial use. Welcome anyone and if you have some suggestions or meet bugs or just want to contact me,
              welcome to email me. The following is my gmail:
            </p>

            <p>yddoxp@gmail.com</p>

            <p>
              Have a good day!
            </p>
        </div>
        </div>

        <!-- right -->
        <div th:replace="_fragments::right" class="three wide column">
          <!-- Category -->
          <div class="ui segments">
            <div class="ui secondary segment">
              <div class="ui two column grid">
                <div class="column"><i class="icon idea"></i>Category</div>
                <div class="right aligned column">
                  <a href="" target="-blank"
                    >more<i class="icon angle double right"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="ui border-orange segment">
              <div class="ui menu vertical">
                <a href="" class="item"
                  >Projects
                  <div class="ui blue basic label">10</div></a
                >
                <a href="" class="item"
                  >Algorithm
                  <div class="ui blue basic label">10</div></a
                >
                <a href="" class="item"
                  >Data
                  <div class="ui blue basic label">10</div></a
                >
                <a href="" class="item"
                  >Notes
                  <div class="ui blue basic label">10</div></a
                >
              </div>
            </div>
          </div>

          <!-- Labels -->

          <div class="ui segments">
            <div class="ui secondary segment">
              <div class="ui two column grid">
                <div class="column"><i class="icon idea"></i>Labels</div>
                <div class="right aligned column">
                  <a href="" target="_blank"
                    >more<i class="icon angle double right"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="ui segment border-orange m-padding-small">
              <a href="" class="ui label blue m-text-weight-500 m-margin-tiny"
                >Union set</a
              >
              <a href="" class="ui label yellow m-text-weight-500 m-margin-tiny"
                >DFS</a
              >
              <a href="" class="ui label teal m-text-weight-500 m-margin-tiny"
                >Queue</a
              >
              <a href="" class="ui label purple m-text-weight-500 m-margin-tiny"
                >ML</a
              >
              <a href="" class="ui label orange m-text-weight-500 m-margin-tiny"
                >DL</a
              >
              <a href="" class="ui label pink m-text-weight-500 m-margin-tiny"
                >Webspider</a
              >
              <a href="" class="ui label red m-text-weight-500 m-margin-tiny"
                >Python</a
              >
              <a href="" class="ui label blue m-text-weight-500 m-margin-tiny"
                >Java</a
              >
              <a href="" class="ui label teal m-text-weight-500 m-margin-tiny"
                >DP</a
              >
              <a href="" class="ui label green m-text-weight-500 m-margin-tiny"
                >Text classification</a
              >
              <a href="" class="ui label brown m-text-weight-500 m-margin-tiny"
                >Data analysis</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>


    <br>
    <br>
    <br>
    <!-- footer -->
    <footer th:replace="_fragments::footer" class="ui inverted vertical segment footer-item-padding">
      <div class="ui center aligned container container-width">
        <div class="ui inverted divided stackable grid">
          <div class="three wide column">
            <img
              src="../static/img/Facebook_QR.jpg"
              class="ui image"
              alt="Facebook QR"
              style="width: 150px; margin: 0 auto"
              ;
            />
          </div>
          <div class="four wide column">
            <h3 class="ui inverted header">Want to learn about me?</h3>
            <div class="ui inverted link list">
              <p class="footer-content-text">
                Just scan my Facebook QR on the left.
              </p>
            </div>
          </div>
          <div class="three wide column">
            <h3 class="ui inverted header">Who am I?</h3>
            <div class="ui inverted link list">
              <p class="footer-content-text">
                An ACGer who is fond of programming!!!
              </p>
              <img
                src="../static/img/umaru.jfif"
                alt="umaru"
                style="width: 130px"
              />
            </div>
          </div>
          <div class="six wide column">
            <h3 class="ui inverted header">About my Blog?</h3>
            <div class="ui inverted link list"></div>
            <p class="mid-font-size">
              My blog aims to share my projects such as machine learning,
              webspider and data analysis; Some data structure or algorithm
              problems I met in life or online; Notes on my study like Java I
              prepared to learn later in the future.
            </p>
          </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="copyright-text">Copyright @ 2021 designed by KazeSword</p>
      </div>
    </footer>
    <script src="../static/js/jQuery.js" th:src="@{/js/jQuery.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script>
      $("#menu_button").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
      });
    </script>
  </body>
</html>
